# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.bak
*/migrations/__pycache__/
*/migrations/*.log

# IDE files
.idea/
*.swp

# Node (if using npm/yarn for frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Others
*.bak
*.tmp