# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / Coverage
.coverage
htmlcov/
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml

# Build
*.egg-info/
dist/
build/
