<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RockoPhonix</title>
  <link rel="stylesheet" href="{% static 'bands/css/homeStyle.css' %}">
  <link rel="stylesheet" href="{% static 'bands/css/homeMediaQuery.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/Draggable.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js" defer></script>
  <script src="{% static 'bands/js/homeHamburger.js' %}" defer></script>
  <script src="{% static 'bands/js/homeAnimate.js' %}" defer></script>
  <script src="{% static 'bands/js/homeGalleryAnimate.js' %}" defer></script>
  <script src="{% static 'bands/js/homeFooterAnimate.js' %}" defer></script>
  <script src="{% static 'bands/js/homeVinylAnimate.js' %}" defer></script>
</head>

<body>
  <audio id="vinylAudio" preload="auto" loop>
    <source src="{% static 'bands/music/track.mp3' %}" type="audio/mpeg">
    <!-- provide fallback types as needed -->
    Your browser does not support the audio element.
  </audio>

  <div class="hamburger-menu">
    <div class="menu-header">
      <button class="close-btn">&times;</button>
    </div>
    <nav class="menu-nav">
      <a href="#home">Home</a>
      <a href="#about">About Us</a>
      <a href="#timeline">Timeline</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>

  <div class="menu-overlay"></div>


  <div class="heading" id="home">
    <div class="wrapper">
      <div class="navbar">
        <div class="left">
          <img src="{% static 'bands/images/hamburger-menu.png'%}" alt="" class="hamburger">
          <img src="{% static 'bands/images/navImg.png'%}" alt="" class="img1">
          <div class="nav-items">
            <a href="#home" class="nav-link">HOME</a>
            <img src="{% static 'bands/images/circle.png'%}" alt="" class="img2">
            <a href="#about" class="nav-link">ABOUT US</a>
            <img src="{% static 'bands/images/circle.png'%}" alt="" class="img2">
            <a href="#timeline" class="nav-link">TIMELINE</a>
            <img src="{% static 'bands/images/circle.png'%}" alt="" class="img2">
            <a href="#contact" class="nav-link">CONTACT US</a>
          </div>
        </div>
        <div class="right">
          <a href="/register" style="all: unset;"><button>REGISTER</button></a>
        </div>
      </div>

      <div class="main1">
        <h1>ROCK O PHONIX</h1>

        <div class="vinyl">
          <img src="{% static 'bands/images/vinylBoard.png' %}" alt="vinyl board" class="vinyl-board">
          <img src="{% static 'bands/images/vinyl.png' %}" alt="vinyl player" class="vinyl-player">
          <img src="{% static 'bands/images/vinylDisk.png' %}" alt="vinyl disk" class="vinyl-disk">
          <div class="vinyl-tonearm" id="tonearm">
            <img src="{% static 'bands/images/vinylTonearm.png' %}" alt="tonearm" draggable="false">
            <div class="tonearm-tip" id="tip" aria-hidden="true"></div>
          </div>
          <div class="play-area" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="about" id="about">
    <div class="wrapper">
      <div class="about-container">
        <h2>ABOUT</h2>
        <p>Alcheringa is the annual cultural festival of the Indian Institute of Technology, Guwahati. A splendid idea
          realized by a group of students in 1996 at IITG marked dawn of one of Asia's most exhilarating and significant
          cultural college fests as we know it today. </p>

        <div class="vinyl">
          <img src="{% static 'bands/images/vinylBoard.png' %}" alt="vinyl board" class="vinyl-board">
          <img src="{% static 'bands/images/vinyl.png' %}" alt="vinyl player" class="vinyl-player">
          <img src="{% static 'bands/images/vinylDisk.png' %}" alt="vinyl disk" class="vinyl-disk">
          <div class="vinyl-tonearm" id="tonearm">
            <img src="{% static 'bands/images/vinylTonearm.png' %}" alt="tonearm" draggable="false">
            <div class="tonearm-tip" id="tip" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="timeline" id="timeline">
    <div class="wrapper">
      <h2>TIMELINE</h2>

      <div class="timeline-container">
        <img src="{% static 'bands/images/timeline/timeline-main-5.png' %}" alt="" class="time-5">
        <img src="{% static 'bands/images/timeline/timeline-main-4.png' %}" alt="" class="time-4">
        <img src="{% static 'bands/images/timeline/timeline-main-3.png' %}" alt="" class="time-3">
        <img src="{% static 'bands/images/timeline/timeline-main-2.png' %}" alt="" class="time-2">
        <img src="{% static 'bands/images/timeline/timeline-main-1.png' %}" alt="" class="time-1">
      </div>
    </div>
  </div>

  <div class="gallery">
    <h1>GALLERY</h1>
    <img src="{% static 'bands/images/gallery/img1.png' %}" alt="" id="img1">
    <img src="{% static 'bands/images/gallery/img2.png' %}" alt="" id="img2">
    <img src="{% static 'bands/images/gallery/img3.png' %}" alt="" id="img3">
    <img src="{% static 'bands/images/gallery/img4.png' %}" alt="" id="img4">
    <img src="{% static 'bands/images/gallery/img1.png' %}" alt="" id="img5">
    <img src="{% static 'bands/images/gallery/img5.png' %}" alt="" id="img6">
    <img src="{% static 'bands/images/gallery/img6.png' %}" alt="" id="img7">
    <img src="{% static 'bands/images/gallery/img7.png' %}" alt="" id="img8">
    <img src="{% static 'bands/images/gallery/img8.png' %}" alt="" id="img9">
  </div>

  <div class="contact" id="contact">
    <h2 id="help1">Need any help? Reach out to us.</h2>
    <h2 id="help2">Need any help?</h2>

    <div class="contact-div">
      <div class="contact-div-contain">
        <div class="coupon-text">
          <div class="coupon-heading">
            <span class="name">HARSHA</span>
            <span class="role">Event Head</span>
          </div>

          <div class="coupon-contact">
            <div class="contact-container">
              <img src="{% static 'bands/images/footer-icons/phone.png' %}" alt="">
              <div class="coupon-phone">+91 81061 91690</div>
            </div>
            <div class="contact-container">
              <img src="{% static 'bands/images/footer-icons/mail.png' %}" alt="">
              <div class="coupon-mail">rockophonix@alcheringa.co.in</div>
            </div>
          </div>
        </div>

        <img src="{% static 'bands/images/person-2.jpg' %}" alt="" class="coupon-img">
      </div>
    </div>

    <!-- <div class="contact-div">

      <div class="coupon-heading">
        <span class="name">AKSHARA GUPTA</span>
        <span class="role">Event Head</span>
      </div>

      <div class="coupon-contact">
        <div class="contact-container">
          <img src="{% static 'bands/images/footer-icons/phone.png' %}" alt="">
          <div class="coupon-phone">9999999999</div>
        </div>
        <div class="contact-container">
          <img src="{% static 'bands/images/footer-icons/mail.png' %}" alt="">
          <div class="coupon-mail">mail@yahoo.com</div>
        </div>
      </div>

      <img src="{% static 'bands/images/placeholder.jpg' %}" alt="" class="coupon-img">

    </div> -->

    <img src="{% static 'bands/images/contactBackground.png' %}" alt="" class="contact-img2">

    <div class="footer">
      <footer class="slanted-footer">
        <div class="footer-content">
          <div class="footwrap">
            <h3>ALCHERINGA</h3>
            <div class="divider"></div>
            <div class="connect">
              <p>Connect</p>
              <div class="icons">
                <a href="https://www.instagram.com/rockophonix_alcheriitg/" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/insta-icon.png' %}" alt="">
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/youtube-icon.png' %}" alt="">
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/facebook-icon.png' %}" alt="">
                </a>
                <a href="https://x.com/home" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/twitter-icon.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="contact-footer">
            <div class="temp-connect">
              <h4>Connect</h4>
              <div class="temp-icons">
                <a href="https://www.instagram.com/rockophonix_alcheriitg/" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/insta-icon.png' %}" alt="">
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/youtube-icon.png' %}" alt="">
                </a>
                <a href="" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/facebook-icon.png' %}" alt="">
                </a>
                <a href="https://x.com/home" target="_blank">
                  <img src="{% static 'bands/images/footer-icons/twitter-icon.png' %}" alt="">
                </a>
              </div>
            </div>
            <div class="contact-text">
              <div class="container">
                <img src="{% static 'bands/images/footer-icons/globe.png' %}" alt="">
                <span>alcheringa.in</span>
              </div>

              <div class="container">
                <img src="{% static 'bands/images/footer-icons/mail.png' %}" alt="">
                <span>alcheringa@gmail.com</span>
              </div>

              <div class="container">
                <img src="{% static 'bands/images/footer-icons/phone.png' %}" alt="">
                <span>19-00-00-0000</span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>